@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.footer {
  background-color: #5c3d66;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}